<!DOCTYPE html>
<html>
<head>
  <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>
    Digit Recognizer
  </title>
</head>

<body>

  <p class="title">CNN with MNIST + PyTorch</p>
  <div class="item">
    <canvas width="300" height="300" id="input"></canvas>
    <script src="{% static 'js/script.js' %}"></script>
    <form method="GET">
    <button id="clear">Clear</button>
    </form>
    <form method="POST">
      <input type="button" id="predict" value="Predict">
      <input type="hidden" name="data" value="">
    </form>
    <p align="center"> Result: </p>
      <p class="result">{{ canvasdata }}</p>
  </div>


</body>

</html>