<!DOCTYPE html>
<html>
  
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>
    Digit Recognizer
  </title>
</head>

<body>
  
  <p class="title">CNN with MNIST + PyTorch</p>
  <div class="item">
    <canvas width ="300" height="300" id="input"></canvas>
    <script src="{% static 'js/script.js' %}"></script>
    <button id="clear">Clear</button>
    <button id="predict">Predict</button>
    <p><span id="status"></span></p>
  </div>
  

</body>

</html>